/* Common Styles*/
.cs-audio-player {
    font-size: 0.75em;
}

.cs-audio-slider {
    background: #aaa;
    position: relative;
    cursor: pointer;
    height: 10px;
    width: 100%;
    font-size: 0px !important;
    overflow: hidden !important;
    margin: auto;
    border: 1px #999 solid;
}

    .cs-audio-slider > div {
        background: #fff;
        width: 0%;
        height: 100%;
        transition: 0.25s;
    }

.cs-audio-vpopup {
    position: absolute;
    height: 120px;
    top: -120px;
    left: 0px;
    width: 100%;
    text-align: center;
    display: none;
    background: #ccc;
    z-index: 1999;
}

.cs-audio-vslider {
    background: #aaa;
    position: relative;
    cursor: pointer;
    height: 110px;
    width: 10px;
    font-size: 0px !important;
    overflow: hidden !important;
    margin: 5px auto;
    border: 1px #999 solid;
}

    .cs-audio-vslider > div {
        position: absolute;
        bottom: 0px;
        background: #fff;
        width: 100%;
        height: 100%;
        transition: 0.25s;
    }

.cs-audio-button {
    position: relative;
    cursor: pointer;
    width: 25px;
    text-align: center;
}

    .cs-audio-button:hover,
    .cs-audio-button:active,
    .cs-audio-button:focus {
        background: #ccc;
    }

    .cs-audio-button:active,
    .cs-audio-button:focus{
        outline: 1px dotted #888;
    }

    .cs-audio-button:active > .cs-audio-vpopup,
    .cs-audio-button:focus > .cs-audio-vpopup,
    .cs-audio-button:hover > .cs-audio-vpopup {
        display: block;
    }

.cs-audio-row {
    display: table;
    width: 100%;
}

    .cs-audio-row > * {
        width: auto;
        height: auto;
        display: table-cell;
        margin-left: 4px;
        vertical-align: middle;
    }

    .cs-audio-row > :first-child {
        margin-left: 0;
    }

.cs-audio-image {
    width: 100%;
    height: auto;
    background-size: cover;
}

.cs-audio-caption {
    color: #999;
}

/* Player 1 Styles */
.cs-audio-player1 {
    border: 1px #ccc solid;
    padding: 10px;
    padding-bottom: 5px;
}
    .cs-audio-player1 .cs-audio-image {
        width: 100%;
        height: auto;
        background-size: cover;
    }

    .cs-audio-player1 .cs-audio-button {
        width: 30px !important;
        font-size: 20px;
    }

    .cs-audio-player1 .cs-audio-volume-current {
        width: 100%; /* initial volume is 100% */
    }

    .cs-audio-player1 .cs-audio-image {
        margin-bottom: 5px;
    }

    /* Responsive sizing */
    @media (min-width: 1px) and (max-width: 767px) {
        .cs-audio-player1 {
            margin-bottom: 15px;
        }

        .cs-audio-player1 .cs-audio-image {
            display: none;
        }
    }


/* Player 2 Styles */

.cs-audio-player2 {
    background: #eee;
    padding: 5px;
}

    .cs-audio-player2 .cs-audio-image {
        width: 70px;
    }

    .cs-audio-player2 .cs-audio-details {
        padding: 0 20px;
        width: 200px;
    }

        .cs-audio-player2 .cs-audio-details > * {
            overflow: hidden;
            max-height: 20px;
        }

    .cs-audio-player2 .cs-audio-row-button {
        vertical-align: middle;
        text-align: center;
        width: 45px;
    }

    .cs-audio-player2 .cs-audio-button {
        cursor: pointer;
        /*height: 40px;*/
        width: 40px;
        font-size: 25px;
    }

    /* responsive sizing */
    .cs-audio-player2.cs-audio-player-sm .cs-audio-progress,
    .cs-audio-player2.cs-audio-player-xs .cs-audio-progress {
        display: none;
    }

    .cs-audio-player2.cs-audio-player-xs .cs-audio-details {
        display: none;
    }

    @media (min-width: 1px) and (max-width: 767px) {
        .cs-audio-player2 .cs-audio-progress {
            display: none;
        }
    }

    @media (min-width: 1px) and (max-width: 380px) {
        .cs-audio-player2 .cs-audio-details {
            display: none;
        }
    }
